@model VotingViews.Models.PositionListFilterViewModel

@{
    ViewData["pageTitle"] = "List Of Positions";
    Layout = "_DashboardLayoutAdmin";
}


<div class="justify-content-center" style="        max-width: 70%;
        box-sizing: border-box;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.13);
        background-color:white;
        margin-left:auto;
        margin-right:auto;">
    <form asp-controller="Position" asp-action="Index" method="get" style="padding-left:2em;">
        <p>
            <a asp-action="Create">+ Create New</a>
        </p>
        <p>
            <select asp-for="@Model.ElectionPosition" asp-items="@Model.Elections">
                <option value="">All</option>
            </select>
            <b>Position Name:</b> <input type="text" asp-for="@Model.SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    
    <table class="table table-active table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Election Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Positions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Election.Name)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

