@model VotingViews.DTOs.ElectionDto

@{
    Layout = "_DashboardLayoutAdmin";
}

<div class="justify-content-center" style="max-width: 70%;
        box-sizing: border-box;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.13);
        background-color:white;
        padding-left:20px;
        padding-right:20px;
        padding-bottom:20px;
        padding-top:20px;
        margin-top:1px;
        margin-left:auto;
        margin-right:auto;">
    <h4>Election Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            Position
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Create" asp-controller="Position" asp-route-electionId="electionId"> Create Position</a>
        </dd>

    </dl>
    <div>
        @Html.ActionLink("Update", "Update", new { id = Model.Id }) |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

